<html xmlns:th="http://www.thymeleaf.org"></html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link href="../../../../../static/css/main.css" rel="stylesheet" />
  <script src="https://unpkg.com/phosphor-icons"></script>

  <title>Winners Collection</title>
</head>

<body class="bg-purple-200">
  <!-- MENU PRINCIPAL -->
  <nav
    class="bg-purple-900 p-8 fixed w-full z-20 top-0 left-0 border-b border-gray-200"
  >
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <a th:href="@{/home}" class="flex items-center">
        <span
          class="self-center text-3xl font-semibold whitespace-nowrap text-white title"
          >Winners Collection</span
        >
      </a>
      <div class="flex md:order-2">
        <a th:href="@{/login}">
          <button
            type="button"
            class="text-purple-900 bg-white hover:bg-gray-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mr-3 md:mr-5"
          >
            <i class="ph-fill ph-user"></i>
          </button>
        </a>
        <a th:href="@{/admin/logout}">
          <button
            type="button"
            class="text-purple-900 bg-white hover:bg-gray-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mr-3 md:mr-5"
          >
            <i class="ph-light ph-sign-out"></i>
          </button>
        </a>
        <button
          data-collapse-toggle="navbar-sticky"
          type="button"
          class="inline-flex items-center p-2 text-sm text-white rounded-lg md:hidden hover:bg-gray-100"
          aria-controls="navbar-sticky"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </nav>
  <div class="mt-36 flex justify-center">
    <div class="px-3 py-4 overflow-y-auto">
      <p class="text-3xl text-purple-800 mb-4 font-semibold">FUNCIONÁRIOS</p>
      <div class="space-y-2 font-medium text-2xl">
        <div class="flex">
          <a
            href="/admin/funcionarios/cadastro"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <i class="ph-bold ph-note-pencil"></i>
            <span class="ml-3">Cadastrar</span>
          </a>
          <div>
            <a
              href="/admin/funcionarios/listar"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            >
              <i class="ph-bold ph-keyboard"></i>

              <span class="flex-1 ml-3 whitespace-nowrap">Dashboard</span>
            </a>
          </div>
        </div>

        <hr class="my-4" />

        <p class="text-3xl text-purple-800 mb-4 font-semibold pt-4">PRODUTOS</p>

        <div class="flex">
          <a
            href="/admin/produtos/cadastro"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <i class="ph-bold ph-note-pencil"></i>
            <span class="ml-3">Cadastrar</span>
          </a>

          <div>
            <a
              href="/admin/produtos/listar"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            >
              <i class="ph-bold ph-keyboard"></i>

              <span class="flex-1 ml-3 whitespace-nowrap">Dashboard</span>
            </a>
          </div>
        </div>
        <hr class="my-4" />

        <p class="text-3xl text-purple-800 mb-4 font-semibold pt-4">
          COMPRAS E ITENS COMPRADOS
        </p>

        <div class="flex">
          <a
            href="/admin/pedidos/listar"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <i class="ph-bold ph-note-pencil"></i>
            <span class="ml-3">Compras</span>
          </a>

          <div>
            <a
              href="/admin/itens/listar"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            >
              <i class="ph-bold ph-keyboard"></i>

              <span class="flex-1 ml-3 whitespace-nowrap">Itens Comprados</span>
            </a>
          </div>
        </div>

        <hr class="my-4" />

        <p class="text-3xl text-purple-800 mb-4 font-semibold pt-4">CARGOS</p>

        <div class="flex">
          <a
            href="/admin/cargos/cadastro"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <i class="ph-bold ph-note-pencil"></i>

            <span class="ml-3">Cadastrar</span>
          </a>

          <div>
            <a
              href="/admin/cargos/listar"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            >
              <i class="ph-bold ph-keyboard"></i>

              <span class="flex-1 ml-3 whitespace-nowrap">Dashboard</span>
            </a>
          </div>
        </div>

        <hr class="my-4" />

        <p class="text-3xl text-purple-800 mb-4 font-semibold pt-4">
          PERMISSÕES
        </p>

        <div class="flex">
          <a
            href="/admin/permissoes/cadastro"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <i class="ph-bold ph-note-pencil"></i>

            <span class="ml-3">Cadastrar</span>
          </a>

          <div>
            <a
              href="/admin/permissoes/listar"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            >
              <i class="ph-bold ph-keyboard"></i>

              <span class="flex-1 ml-3 whitespace-nowrap">Dashboard</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

  .ph-user {
    font-size: 25px;
  }

  .ph-sign-out {
    font-size: 25px;
  }

  .ph-shopping-cart-simple {
    font-size: 25px;
  }

  .ph-keyboard {
    font-size: 25px;
  }

  .ph-note-pencil {
    font-size: 25px;
  }

  nav {
    font-family: "Raleway", sans-serif;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  img {
    max-width: 600px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: auto;
  }
</style>
