<!-- FORMULÁRIO DE CADASTRO DE USUÁRIO -->
<html xmlns:th="http://www.thymeleaf.org">

</html>

<head>
  <title>Cadastro Winners</title>
  <link href="../../../../../../../../../src/main/resources/static/css/main.css" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <script src="https://unpkg.com/phosphor-icons"></script>
  <link href="../../../../../static/css/main.css" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/CustomerForms.js}"></script>
</head>

<body class="bg-purple-200">
  <nav class="bg-purple-900 p-8 fixed w-full z-20 top-0 left-0">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <a th:href="@{/}" class="flex items-center">
        <span class="self-center text-3xl font-semibold whitespace-nowrap text-white title">Winners Collection</span>
      </a>
      <div class="flex md:order-2">
        <a th:href="@{/carrinho}">
          <button type="button"
            class="text-purple-900 bg-white hover:bg-gray-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mr-3 md:mr-5">
            <i class="ph-light ph-shopping-cart-simple"></i>
          </button>
        </a>

        <a th:href="@{/cliente/login}">
          <button type="button"
            class="text-purple-900 bg-white hover:bg-gray-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mr-3 md:mr-5">
            <i class="ph-fill ph-user"></i>
          </button>
        </a>
        <button data-collapse-toggle="navbar-sticky" type="button"
          class="inline-flex items-center p-2 text-sm text-white rounded-lg md:hidden hover:bg-gray-100"
          aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
        <ul
          class="flex flex-col p-4 mt-4 border border-gray-200 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0">
          <li>
            <a th:href="@{/home}"
              class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0 aria-current=">Home</a>
          </li>
          <li>
            <a href="./ActionFigures"
              class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0">Action
              Figures</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0">Pop
              Funko</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0">Winners</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent hover:text-gray-300 md:p-0">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <div class="md:mt-40 mt-24 text-center">
      <p class="md:text-xl text-md text-purple-800 font-medium">
      Para continuar sua compra
    </p>
    <p class="md:text-2xl text-xl text-purple-800 font-semibold">
      Faça seu cadastro e torne-se um Winner 😊
    </p>
    <div class="md:text-sm text-xs text-purple-800 font-medium mt-2">
    <span >ou </span><a th:href="@{/cliente/login}" class="underline">acesse sua conta</a>
  </div> -->
  <div class="px-10 md:px-20 py-10 flex flex-col md:flex-row justify-center md:mt-40 mt-24 ">
    <form method="get" action="#" th:method="post" th:action="@{/cliente/salvar}" th:object="${cliente}">
      <div>
        <p class="mb-3 text-lg font-medium">Dados pessoais</p>
      </div>
      <div class="flex flex-col md:flex-row">
        <!-- NOME COMPLETO -->
        <div class="mb-6">
          <label for="nome" class="block mb-2 text-sm font-medium text-gray-900">NOME COMPLETO</label>
          <input type="text" id="nome" name="nome" th:field="*{nome}"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block p-2.5 w-80 md:w-96 focus:outline-none"
            placeholder="" />
        </div>

        <!-- E-MAIL -->
        <div class="mb-6 md:ml-4 ml-0">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900">E-MAIL</label>
          <input type="email" id="email" name="email"  th:field="*{email}"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-80 p-2.5 focus:outline-none"
            placeholder="" required />
        </div>
      </div>

      <div class="flex flex-col md:flex-row">
        <!-- CPF -->
        <div class="mb-6">
          <label for="cpf" class="block mb-2 text-sm font-medium text-gray-900">CPF</label>
          <input type="text" autocomplete="on" minlength="14" maxlength="14" id="cpf" name="cpf"  th:field="*{cpf}"
            onkeypress="maskCPF(this)"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-64 p-2.5 focus:outline-none"
            placeholder="" required />
        </div>

        <!-- GÊNERO -->
        <div class="mb-6 md:ml-4 ml-0">
          <label for="genero" class="block mb-2 text-sm font-medium text-gray-900">GÊNERO</label>
          <select name="genero" id="genero"  th:field="*{genero}"
            class="bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-56 p-2.5 focus:outline-none"
            aria-label="Default select example">
            <option value="Vazio">
               </option>
            <option value="Prefiro não dizer">
              Prefiro não dizer </option>
            <option value="Feminino">
              Feminino
            </option>
            <option value="Masculino">
              Masculino </option>
          </select>
        </div>

        <!-- NASCIMENTO -->
        <div class="mb-6 md:ml-4 ml-0">
          <label for="nascimento" class="block mb-2 text-sm font-medium text-gray-900">DATA DE NASCIMENTO</label>
          <input type="text" id="nascimento" name="nascimento" onkeypress="maskDate(this)" minlength="10" maxlength="10"  th:field="*{nascimento}"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-52 p-2.5 focus:outline-none"
            placeholder="" required />
        </div>
      </div>
      <hr class="my-4" />

      <!-- DADOS DE ENDEREÇO PRINCIPAL-->
      <div>
        <div>
          <p class="mb-3 text-lg font-medium">Dados de endereço</p>
        </div>
        <div class="flex flex-col md:flex-row">
          <div class="mb-6">
            <label class="block mb-2 text-sm font-medium text-gray-900">CEP</label>
            <input type="text" id="cep" name="cep" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);"
              class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-48 p-2.5 focus:outline-none"
              placeholder="" required />
          </div>
          <div class="mb-6 md:ml-4 ml-0">
            <label class="block mb-2 text-sm font-medium text-gray-900">ENDEREÇO</label>
            <input name="rua" type="text" id="rua" size="60" 
              class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-96 p-2.5 focus:outline-none"
              placeholder="" required />
          </div>
          <div class="mb-6 md:ml-4 ml-0">
            <label class="block mb-2 text-sm font-medium text-gray-900">NÚMERO</label>
            <input name="numero" type="text" id="numero" size="60"
              class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-28 p-2.5 focus:outline-none"
              placeholder="" />
          </div>
        </div>
        <div class="flex flex-col md:flex-row">
          <div class="mb-6">
            <label class="block mb-2 text-sm font-medium text-gray-900">COMPLEMENTO</label>
            <input name="complemento" type="text" id="complemento" size="60"
              class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-24 p-2.5 focus:outline-none"
              placeholder="" />
          </div>
          <div class="mb-6 md:ml-4 ml-0">
            <label class="block mb-2 text-sm font-medium text-gray-900">BAIRRO</label>
            <input name="bairro" type="text" id="bairro" size="40"
              class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-48 p-2.5 focus:outline-none"
              placeholder="" required />
          </div>
          <div class="mb-6 md:ml-4 ml-0">
            <label class="block mb-2 text-sm font-medium text-gray-900">CIDADE</label>
            <input name="cidade" type="text" id="cidade" size="40"
              class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-72 p-2.5 focus:outline-none"
              placeholder="" required />
          </div>

          <div class="mb-6 md:ml-2 ml-0">
            <label class="block mb-2 text-sm font-medium text-gray-900">UF</label>
            <input name="uf" type="text" id="uf" size="2"
              class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-24 p-2.5 focus:outline-none"
              placeholder="" required />
          </div>
        </div>
      </div>
      <div class="flex">
        <input type="checkbox" onclick="myFunction()" />
        <label class="ml-2">Mesmo endereço de cobrança</label>

      </div>
      <hr class="my-4" />

      <!-- DADOS DE ENDEREÇO ADICIONAL-->
      <div>
        <p class="mb-3 text-lg font-medium">Segundo Endereço (Opcional)</p>
      </div>
      <div class="flex flex-col md:flex-row">
        <div class="mb-6">
          <label class="block mb-2 text-sm font-medium text-gray-900">CEP</label>
          <input type="text" id="cep_1" name="cep_1" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-48 p-2.5 focus:outline-none"
            placeholder="" />
        </div>
        <div class="mb-6 md:ml-4 ml-0">
          <label class="block mb-2 text-sm font-medium text-gray-900">ENDEREÇO</label>
          <input name="rua_1" type="text" id="rua_1" size="60"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-96 p-2.5 focus:outline-none"
            placeholder="" />
        </div>
        <div class="mb-6 md:ml-4 ml-0">
          <label class="block mb-2 text-sm font-medium text-gray-900">NÚMERO</label>
          <input name="numero_1" type="text" id="numero_1" size="60"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-28 p-2.5 focus:outline-none"
            placeholder="" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row">
        <div class="mb-6">
          <label class="block mb-2 text-sm font-medium text-gray-900">COMPLEMENTO</label>
          <input name="complemento_1" type="text" id="complemento_1" size="60"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-24 p-2.5 focus:outline-none"
            placeholder="" />
        </div>
        <div class="mb-6 md:ml-4 ml-0">
          <label class="block mb-2 text-sm font-medium text-gray-900">BAIRRO</label>
          <input name="bairro_1" type="text" id="bairro_1" size="40"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-48 p-2.5 focus:outline-none"
            placeholder="" />
        </div>
        <div class="mb-6 md:ml-4 ml-0">
          <label class="block mb-2 text-sm font-medium text-gray-900">CIDADE</label>
          <input name="cidade_1" type="text" id="cidade_1" size="40"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-72 p-2.5 focus:outline-none"
            placeholder="" />
        </div>

        <div class="mb-6 md:ml-2 ml-0">
          <label class="block mb-2 text-sm font-medium text-gray-900">UF</label>
          <input name="uf_1" type="text" id="uf_1" size="2"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-24 p-2.5 focus:outline-none"
            placeholder="" />
        </div>
      </div>
      <hr class="my-4" />

      <!-- DADOS DE COBRANÇA -->
      <div>
        <p class="mt-5 mb-3 text-lg font-medium">Dados de cobrança</p>
      </div>
      <div class="flex flex-col md:flex-row">
        <div class="mb-6">
          <label class="block mb-2 text-sm font-medium text-gray-900">CEP</label>
          <input type="text" id="cep_2" name="cep_2" value="" size="10" maxlength="9"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-48 p-2.5 focus:outline-none"
            placeholder="" required />
        </div>
        <div class="mb-6 md:ml-4 ml-0">
          <label class="block mb-2 text-sm font-medium text-gray-900">ENDEREÇO</label>
          <input name="rua_2" type="text" id="rua_2" size="60"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-96 p-2.5 focus:outline-none"
            placeholder="" required />
        </div>
        <div class="mb-6 md:ml-4 ml-0">
          <label class="block mb-2 text-sm font-medium text-gray-900">NÚMERO</label>
          <input name="numero_2" type="text" id="numero_2" size="60"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-28 p-2.5 focus:outline-none"
            placeholder="" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row">
        <div class="mb-6">
          <label class="block mb-2 text-sm font-medium text-gray-900">COMPLEMENTO</label>
          <input name="complemento_2" type="text" id="complemento_2" size="60"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-24 p-2.5 focus:outline-none"
            placeholder="" />
        </div>
        <div class="mb-6 md:ml-4 ml-0">
          <label class="block mb-2 text-sm font-medium text-gray-900">BAIRRO</label>
          <input name="bairro_2" type="text" id="bairro_2" size="40"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-48 p-2.5 focus:outline-none"
            placeholder="" required />
        </div>
        <div class="mb-6 md:ml-4 ml-0">
          <label class="block mb-2 text-sm font-medium text-gray-900">CIDADE</label>
          <input name="cidade_2" type="text" id="cidade_2" size="40"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-72 p-2.5 focus:outline-none"
            placeholder="" required />
        </div>

        <div class="mb-6 md:ml-2 ml-0">
          <label class="block mb-2 text-sm font-medium text-gray-900">UF</label>
          <input name="uf_2" type="text" id="uf_2" size="2"
            class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-24 p-2.5 focus:outline-none"
            placeholder="" required />
        </div>
      </div>
      <div>
        <hr class="my-4" />

        <div class="flex flex-col md:flex-row">
          <!-- SENHA -->
          <div class="mb-6">
            <label for="senha" class="block mb-2 text-sm font-medium text-black">SENHA</label>
            <input type="password" id="senha" name="senha" minlength="8"
              class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-56 p-2.5 focus:outline-none" />
          </div>

          <!-- REPITA A SENHA -->
          <div class="mb-6 md:ml-4 ml-0">
            <label for="senha2" class="block mb-2 text-sm font-medium text-gray-900">CONFIRMAR SENHA</label>
            <input type="password" id="senha2" name="senha2" minlength="8"
              class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-56 p-2.5 focus:outline-none" />
          </div>
          <div class="text-center mt-7 md:ml-4 ml-0">
            <button type="submit" onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
              th:data-confirm-delete="|Cliente cadastrado com sucesso! |" onchange="this.form.submit()"
              class="text-white bg-purple-800 hover:bg-purple-700 font-medium rounded-lg text-sm inline-block w-80 md:w-60 p-2.5 text-center mr-4">
              Cadastrar
            </button>
          </div>
        </div>
    </form>
  </div>
</body>

<script>
  //campo confirmar senha

  var senha = document.getElementById("senha");
  var senha2 = document.getElementById("senha2");

  function validateSenha() {
    if (senha.value != senha2.value) {
      senha2.setCustomValidity("Senhas diferentes!");
    } else {
      senha2.setCustomValidity("");
    }
  }

  senha.onchange = validateSenha;
  senha2.onkeyup = validateSenha;

  //copiar endereço
  function myFunction() {
    document.getElementById(
      "cep_2",
      "rua_2",
      "numero_2",
      "complemento_2",
      "bairro_2",
      "cidade_2",
      "uf_2"
    ).value = document.getElementById(
      "cep",
      "rua",
      "numero",
      "complemento",
      "bairro",
      "cidade",
      "uf"
    ).value;
  }

  //Adicionar endereço
  function showOptions() {
    var optionsDiv = document.querySelector(".options");
    optionsDiv.style.display = "block";

    document.getElementById("myButton").disabled = true;

  }
</script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

  .ph-user {
    font-size: 25px;
  }

  .ph-shopping-cart-simple {
    font-size: 25px;
  }

  nav {
    font-family: "Raleway", sans-serif;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  /* .section__background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  } */
</style>