<html xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link href="../../../../static/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/CustomerForms.js}"></script>

    <title>Checkout</title>
</head>

<body class="bg-gray-50">
    <!-- MENU PRINCIPAL -->
    <nav class="bg-purple-900 p-8 fixed w-full z-20 top-0 left-0 border-b border-gray-200">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
            <a th:href="@{/}">
                <span class="self-center text-3xl font-semibold whitespace-nowrap text-white title">Winners
                    Collection</span>
            </a>
            <div class="flex md:order-2">
                <a th:href="@{/carrinho}">
                    <button type="button"
                        class="text-purple-900 bg-white hover:bg-gray-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mr-3 md:mr-5">
                        <i class="ph-light ph-shopping-cart-simple"></i>
                    </button>
                </a>

                <a th:href="@{/login}">
                    <button type="button"
                        class="text-purple-900 bg-white hover:bg-gray-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mr-3 md:mr-5">
                        <i class="ph-fill ph-user"></i>
                    </button>
                </a>
                <a th:href="@{/finalizar/logout}">
                    <button type="button"
                        class="text-purple-900 bg-white hover:bg-gray-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mr-3 md:mr-5">
                        <i class="ph-light ph-sign-out"></i>
                    </button>
                </a>
                <button data-collapse-toggle="navbar-sticky" type="button"
                    class="inline-flex items-center p-2 text-sm text-white rounded-lg md:hidden hover:bg-gray-100"
                    aria-controls="navbar-sticky" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                <ul
                    class="flex flex-col p-4 mt-4 border border-gray-200 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0">
                    <li>
                        <a th:href="@{/home}"
                            class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0 aria-current=">Home</a>
                    </li>
                    <li>
                        <a href="./ActionFigures"
                            class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0">Action
                            Figures</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0">Pop
                            Funko</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0">Winners</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent hover:text-gray-300 md:p-0">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="pt-40 mb-20">
        <h1 class="mb-8 text-center text-3xl font-semibold text-purple-400">
            Pagamento
        </h1>
        <form action="/finalizar" method="get" class="" name="incrição">

            <div class="justify-center px-6 md:flex md:space-x-2 xl:px-0 mr-10 ml-10">
                <div class="rounded-lg">
                    <!-- PAGAMENTO -->
                    <div class="bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 mb-10">
                        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                            <div class="">
                                <p class="text-md font-normal">Finalize sua compra <span th:text="${cliente.nome}"
                                        class="text-md font-semibold text-purple-800"></span><span
                                        class="text-md font-semibold text-purple-800">!</span></p>
                                <p>Endereço de entrega: <span class="text-md font-semibold text-purple-800"
                                        th:text="${enderecos.rua}"> </p>
                                <p>E-mail: <span th:text="${cliente.email}"
                                        class="text-md font-semibold text-purple-800"></span></p>

                            </div>
                            <h1 class="text-md font-semibold leading-tight tracking-tight text-gray-900 md:text-md">
                                Endereço de entrega
                            </h1>
                            <input type="RADIO" name="endereco" class="mr-2" th:text="${enderecos.rua}" />
                            <hr class="my-4" />

                            <h1 class="text-md font-semibold leading-tight tracking-tight text-gray-900 md:text-md">
                                Dados para pagamento
                            </h1>
                            <div class="mb-4">
                                <label for="formaPagamento" class="block mb-2 text-sm font-medium text-gray-900">Escolha
                                    o método de pagamento</label>
                                <select name="formaPagamento" id="selecionar"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-80 p-2.5 focus:outline-none">

                                    <option value="">Selecionar...</option>
                                    <option data-section="pix" value="Pix">Pix</option>
                                    <option data-section="boleto" value="Boleto">Boleto</option>
                                    <option data-section="cartao" value="Cartao">Cartão de crédito</option>
                                </select>

                                <div data-name="pix" class="hide mt-4">
                                    <label for="" class="block mb-2 text-sm font-medium text-gray-900">Digite o CPF para
                                        pagamento</label>
                                    <input type="text" autocomplete="on" minlength="14" maxlength="14" id="cpf"
                                        name="cpf" onkeypress="maskCPF(this)"
                                        class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block p-2.5 w-80 md:w-72 focus:outline-none"
                                        placeholder="" />
                                </div>

                                <div data-name="boleto" class="hide mt-4">
                                    <label for="" class="block mb-2 text-sm font-medium text-gray-900">Digite o CPF para
                                        pagamento</label>
                                    <input type="text" autocomplete="on" minlength="14" maxlength="14" id="cpf"
                                        name="cpf" onkeypress="maskCPF(this)"
                                        class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block p-2.5 w-80 md:w-72 focus:outline-none"
                                        placeholder="" />
                                </div>
                                <div class="hide mt-2" data-name="cartao">
                                    <label class="block mb-2 text-sm font-medium text-gray-900">Número do
                                        cartão</label>
                                    <input type="text" autocomplete="on" minlength="16" maxlength="16"
                                        class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-60 p-2.5 focus:outline-none"
                                        placeholder="" />
                                </div>
                                <div class="hide mt-2" data-name="cartao">
                                    <label for="dateCard" class="block mb-2 text-sm font-medium text-gray-900">Data
                                        de
                                        expiração</label>
                                    <input type="text" id="inputOculto" name="dateCard" onkeypress="maskDateCard(this)"
                                        minlength="5" maxlength="5"
                                        class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-36 p-2.5 focus:outline-none"
                                        placeholder="" />
                                </div>

                                <div data-name="cartao" class="hide mt-2">
                                    <label for="nome" class="block mb-2 text-sm font-medium text-gray-900">Nome
                                        Completo</label>
                                    <input type="text" name="nome"
                                        class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block p-2.5 w-80 md:w-72 focus:outline-none"
                                        placeholder="" />
                                </div>

                                <div data-name="cartao" class="hide mt-2">
                                    <label for="" class="block mb-2 text-sm font-medium text-gray-900">CVV</label>
                                    <input type="text" id="inputOculto" name="" minlength="3" maxlength="3"
                                        class="shadow-sm bg-gray-50 border border-purple-900 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-16 p-2.5 focus:outline-none"
                                        placeholder="" />
                                </div>

                                <div data-name="cartao" class="hide mt-2">
                                    <label for="" class="block mb-2 text-sm font-medium text-gray-900">Parcelas</label>

                                    <select
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg inline-block w-80 md:w-80 p-2.5 focus:outline-none"
                                        aria-label="Default select example">
                                        <option value="1">À vista sem juros</option>
                                        <option value="2">2x sem juros</option>
                                        <option value="3">3x sem juros</option>
                                        <option value="4">4x sem juros</option>
                                        <option value="5">5x sem juros</option>
                                        <option value="6">6x sem juros</option>
                                        <option value="7">7x sem juros</option>
                                        <option value="8">8x sem juros</option>
                                        <option value="9">9x sem juros</option>
                                        <option value="10">10x com juros</option>
                                        <option value="11">11x com juros</option>
                                        <option value="12">12x com juros</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sub total -->
                <div class="justify-between rounded-lg bg-white p-6 shadow-md sm:justify-start hidden">

                    <table class="">
                        <thead class="text-lg text-gray-400 uppercase text-center">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-sm"></th>
                                <th scope="col" class="px-6 py-3 text-sm">Produto</th>
                                <th scope="col" class="px-6 py-3 text-sm">Quantidade</th>
                                <th scope="col" class="px-6 py-3 text-sm">Preço</th>
                                <th scope="col" class="px-6 py-3 text-sm"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="item : ${listaItens}">
                                <td>
                                    <img class="ml-4"
                                        th:src="@{/admin/produtos/mostrarImagem/{imagem}(imagem=${item.produto.nomeImagem})}"
                                        width="50" />
                                </td>
                                <td class="text-left ml-8 text-xs" th:text="${item.produto.nome}"></td>

                                <td class="text-md text-center">
                                    <a class="text-white bg-purple-300 hover:bg-purple-500 font-bold rounded-full text-sm px-1 py-0.5 text-center"
                                        th:href="@{/alterarQuantidade/{id}/{acao}(id=${item.produto.id},acao=${0})}"
                                        role="button"><i class="ph-bold ph-minus"></i></a>

                                    <span th:text="${item.quantidade}"></span>

                                    <a class="text-white bg-purple-300 hover:bg-purple-500 font-bold rounded-full text-sm px-1 py-0.5 text-center"
                                        th:href="@{/alterarQuantidade/{id}/{acao}(id=${item.produto.id},acao=${1})}"
                                        role="button"><i class="ph-bold ph-plus"></i></a>
                                </td>
                                <td class="text-md text-center">
                                    R$ <span th:text="${item.valorUnitario}"></span>
                                </td>
                                <td>
                                    <div class="flex flex-row items-center">
                                        <a th:href="@{/removerProduto/{id}(id=${item.produto.id})}"
                                            class="bg-purple-300 hover:bg-purple-500 rounded-lg px-3 py-2 text-center mr-2 text-white ml-5">
                                            <i class="ph-light ph-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-6 h-full rounded-lg border bg-white p-10 shadow-md md:mt-0 md:w-1/3">
                    <div class="mb-2 flex justify-between">
                        <p class="text-gray-700">Itens</p>
                        <p class="text-gray-700">
                            R$ <span th:text="${compra.valorTotal}"></span>
                        </p>
                    </div>
                    <div class="flex justify-between">
                        <p class="text-gray-700">Frete</p>
                        <p class="text-gray-700">
                            R$ <span th:text="${compra.frete}"></span>
                        </p>
                    </div>
                    <hr class="my-4" />
                    <div class="flex justify-between">
                        <p class="text-lg font-semibold">Total</p>
                        <div class="">
                            <p class="mb-8 text-lg font-semibold">
                                R$ <span th:text="${compra.frete + compra.valorTotal}"></span>
                            </p>
                        </div>
                    </div>
                    <button
                        class="mt-10 w-full rounded-md bg-purple-400 hover:bg-purple-600 py-1.5 px-16 font-medium text-white">
                        Resumo
                    </button>
                </div>
            </div>
        </form>

</body>

<script>
    //FRETE
    function showOptions() {
        var optionsDiv = document.querySelector(".options");
        optionsDiv.style.display = "block";

        document.getElementById("myButton").disabled = true;

        var randomNumber = Math.floor(Math.random() * 20) + 10;
        document.getElementById("randomNumber").innerHTML = randomNumber;
        var frete1 = Math.floor(Math.random() * 30) + 10;
        document.getElementById("frete1").innerHTML = frete1;
        var frete2 = Math.floor(Math.random() * 35) + 10;
        document.getElementById("frete2").innerHTML = frete2;
    }

    //CAMPOS CARTÃO DE CRÉDITO

    // $(document).ready(function() {
    //   $('#inputOculto').hide();
    //   $('#mySelect').change(function() {
    //     if ($('#mySelect').val() == 'value2') {
    //       $('#inputOculto').show();
    //     } else {
    //       $('#inputOculto').hide();
    //     }
    //   });
    // });

    $("#selecionar").change(function () {
        var $this, secao, atual, campos;

        campos = $("div[data-name]");

        campos.addClass("hide");

        if (this.value !== "") {
            secao = $('option[data-section][value="' + this.value + '"]', this).attr("data-section");

            atual = campos.filter("[data-name=" + secao + "]");

            if (atual.length !== 0) {
                atual.removeClass("hide");
            }
        }
    });
</script>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

    .ph-user {
        font-size: 25px;
    }

    .ph-shopping-cart-simple {
        font-size: 25px;
    }

    nav {
        font-family: "Raleway", sans-serif;
    }

    body {
        font-family: "Poppins", sans-serif;
    }

    img {
        max-width: 100px;
        max-height: 100px;
        width: auto;
        height: auto;
        margin: auto;
    }

    .ph-sign-out {
        font-size: 25px;
    }

    .options {
        display: none;
    }

    .hide {
        display: none;
    }
</style>