<html xmlns:th="http://www.thymeleaf.org"></html>

<head>
  <title>Winners Collection</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <script src="https://unpkg.com/phosphor-icons"></script>
  <link href="../../../../../static/css/main.css" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/CustomerForms.js}"></script>
</head>

<body class="bg-white">
  <nav
    class="bg-purple-900 p-8 fixed w-full z-20 top-0 left-0 border-b border-gray-200"
  >
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <a th:href="@{/}" class="flex items-center">
        <span
          class="self-center text-3xl font-semibold whitespace-nowrap text-white title"
          >Winners Collection</span
        >
      </a>
      <div class="flex md:order-2 mt-2 pl-40 md:pl-0">
        <a th:href="@{/carrinho}">
          <button
            type="button"
            class="text-purple-900 bg-white hover:bg-gray-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mr-3 md:mr-5"
          >
            <i class="ph-light ph-shopping-cart-simple text-lg md:text-2xl"></i>
          </button>
        </a>

        <a th:href="@{/cliente/login}">
          <button
            type="button"
            class="peer text-purple-900 bg-white hover:bg-gray-300 font-medium rounded-full text-sm px-3 py-2.5 text-center mr-3 md:mr-5"
          >
            <i class="ph-fill ph-user text-lg md:text-2xl"></i>
          </button>
        </a>
        <a
          th:href="@{/cliente/cadastro}"
          class="text-white pt-5 text-sm hidden md:flex md:text-md"
          >ou Cadastre-se</a
        >
      </div>
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-sticky"
      >
        <ul
          class="flex flex-col p-4 mt-4 border border-gray-200 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0"
        >
          <li>
            <a
              th:href="@{/home}"
              class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0 aria-current="
              >Home</a
            >
          </li>
          <li>
            <a
              href="./ActionFigures"
              class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0"
              >Action Figures</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0"
              >Pop Funko</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0"
              >Winners</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-100 md:hover:bg-transparent hover:text-gray-300 md:p-0"
              >Contato</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div
    class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4 mt-36"
    th:each="prod : ${prodid}"
  >
    <div class="flex justify-center items-center lg:flex-row flex-col gap-8">
      <div class="w-full sm:w-96 md:w-8/12 lg:w-6/12 items-center">
        <h2
          class="font-semibold lg:text-4xl text-3xl lg:leading-9 leading-7 text-gray-800 dark:text-white mt-4"
          th:text="${prod.nome}"
        ></h2>
        <div class="flex items-center mt-2.5 mb-2">
          <p
            th:text="${prod.avaliacao}"
            class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded ml-3"
          ></p>
        </div>
        <p
          class="font-normal text-base leading-6 text-gray-600 mt-7"
          th:text="${prod.descricao}"
        ></p>
        <div class="mb-2 flex justify-between mt-4">
          <p class="text-gray-900 text-3xl font-semibold">
            R$ <span th:text="${prod.preco}"></span>
          </p>
        </div>
      </div>
      <div
        class="w-full sm:w-96 md:w-8/12 lg:w-7/12 flex lg:flex-row flex-col lg:gap-8 sm:gap-6 gap-4"
      >
        <div
          class="w-full lg:w-8/12 bg-gray-100 flex justify-center items-center"
        >
          <img
            class="rounded-t-lg imagem"
            alt="product image"
            th:src="@{/admin/produtos/mostrarImagem/{imagem}(imagem=${prod.nomeImagem})}"
          />
        </div>
      </div>
    </div>
    <div class="mt-10">
      <a
        th:href="@{/adicionarCarrinho/{id}(id=${prod.id})}"
        class="focus:outline-none bg-purple-700 hover:bg-purple-800 font-medium text-base leading-4 text-white w-full px-12 py-5"
      >
        Adicionar no carrinho
      </a>
    </div>
  </div>
</body>

<script>
  function plus() {
    var preValue = document.getElementById("counter").value;
    document.getElementById("counter").value = parseInt(preValue) + 1;
  }

  function minus() {
    var preValue = document.getElementById("counter").value;
    if (parseInt(preValue) != 0) {
      document.getElementById("counter").value = parseInt(preValue) - 1;
    }
  }

  function rotate() {
    document.getElementById("rotateSVG").classList.toggle("rotate-180");
  }
</script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

  nav {
    font-family: "Raleway", sans-serif;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  /* 
  .imagem {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    margin: auto;
  } */
</style>
